body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #404040;
  color: #ffffff
}
