<meta charset="utf-8">
<h3>Alle neuen Daten alle 30 Sekunden:</h3>
<table class="table table-hover {{updateTableCSS}}">
    <thead>
        <tr>
            <th>Zeit</th>
            <th>Gerät</th>
            <th>Feld</th>
            <th>Wert</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="update in updates">
            <td>{{update.timestamp | date:'dd.MM.yy HH:mm'}}</td>
            <td>{{update.device_id}}</td>
            <td>{{update.key}}</td>
            <td>{{update.value}}</td>
        </tr>
    </tbody>
</table>
