<meta charset="utf-8">
<form class="form-group">
    <label for="selectSensor"> Wähle Messpunkt von {{deviceId}}: </label>
    <select class="form-control" name="repeatSelect" id="selectSensor" ng-model="selectedKey" ng-change="reload()">
      <option ng-repeat="key in keys" value="{{key}}" ng-selected="{{key == selectedKey}}">{{key}}</option>
    </select>
    <label for="selectZeitraum"> Anzuzeigender Zeitraum: </label>
    <select class="form-control" name="dayWeekAll" id="selectSensor" ng-model="dayWeekAll" ng-change="reloadSlider()">
      <option value="day">24 Stunden</option>
      <option value="week">Eine Woche</option>
      <option value="all">Alle Daten</option>
    </select>
    <div range-slider min="sliderMin" max="sliderMax" model-min="min" model-max="max" filter="dateFormat"
		on-handle-up="reload()"></div>
	<div ng-show="showChart">
		<div google-chart chart="chartObject" style=""></div>
	</div>
	<div ng-show="showMap">
		<center>
			<img ng-src="{{mapLink}}">
		</center>
	</div>
    <div ng-show="showMap || showChart">
	    <button ng-click="addDisplay(0)" class="btn btn-default">Aufs Display (1)</button>
        <button ng-click="addDisplay(1)" class="btn btn-default">Aufs Display (2)</button>
        <button ng-click="addDisplay(2)" class="btn btn-default">Aufs Display (3)</button>
        <button ng-click="addDisplay(3)" class="btn btn-default">Aufs Display (4)</button>
    </div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Zeitpunkt</th>
				<th>Wert</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="set in data|orderBy:TIMESTAMP:ASC">
				<td>{{set.timestamp | date:'dd.MM.yy HH:mm'}}</td>
				<td>{{set.value}}</td>
			</tr>
		</tbody>
	</table>
</form>
